.bg-color{
    background-color: #e9ecef;
}
.color{
    color: #da0909;
}
.footer-item{
    padding-bottom: 0.5rem;
}
.footer_ul{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.footer-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.footer-link:hover{
    text-decoration: none;
    font-size: large;
    color:rgb(221, 0, 0);
    transition: 0.5s;
}
.fimg{
    background-color: #ffffff;
}
.fimg:hover{
    background-color: #000000;
    transition: 0.5s ease-in-out;
}

.glow {
    font-family: cursive;
    font-size: 80px;
    color: rgb(209, 34, 34);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }